@import "./index.scss";

.navbar {
  background: $mainBlack;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: auto 1fr; 
}

.logo {
border-radius: 100rem;
width: 10rem;
height: 10rem;
}

%flex-display {
  display: flex;
}

.hotel {
  background: $mainGrey;
  border-radius: 0.8rem;
  margin: 1rem 0;
  img {
    width: 100%;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    display: block;
  }
}

.img-container {
  position: relative;
}

.hotel-info{
padding: 1rem 0;

h3{
  text-transform: uppercase;
  color: $darkGrey;
}

h4{
 text-transform: capitalize;
 color: $mainBlack;
 margin: 0.2rem 0 0.6rem 0;

}
h5 {
  text-transform: capitalize;
  ul {
    list-style: none;
  }
  span{
    color: $mainYellow;
    margin: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
  }
}
}

.star-rating {
  @extend %flex-display;
  align-items: left;
  font-size: 1em;
  justify-content: left;
  margin-bottom: 10px;
}

.back-stars {
  @extend %flex-display;
  color: $mainGrey;
  position: relative;
  text-shadow: 4px 4px 10px #843a3a;
}
.front-stars {
  @extend %flex-display;
  color: $mainYellow;
  overflow: hidden;
  position: absolute;
  text-shadow: 1px 1px 1px #d29b09;
  top: 0;
  transition: all 0.5s;
}

.hotel-list{
  width: 70vw;
  margiN: 0 auto;
  padding: 2rem 0;
}